    <ion-pane>
      <ion-content>

          <h2> BBC Radio One</h2>
          <ul class="list">
              <li ng-repeat="podcast in config.podcasts"  class="item item-checkbox">
                  <label class="checkbox">
                      <input type="checkbox" ng-model="podcast.enabled">
                  </label>
                  {{podcast.label}}
              </li>

          </ul>

          <button ui-sref="home" class="button button-full button-positive">Back</button>

      </ion-content>
    </ion-pane>
