    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">BBC Radio News <button class="ion-ios-loop-strong" ng-click="refresh()"></button> - <button ui-sref="config">Config</button></h1>
      </ion-header-bar>



      <ion-content>

          <ion-refresher on-refresh="refresh()">

          </ion-refresher>

          <ion-list>
              <ion-item ng-repeat="news in newsList track by $index" class="item ng-binding {{news.class}} news-item" >

                  <!--<div class="news-item">-->

                  <div ng-show="isOnAir(news)">On Air</div>

                      <!--{{news.theDate | date:'medium'}}-->
                      <!--{{news.theDate | date:'EEEE h:mm'}}-->
                      <div class="row">
                          <div class="col col-90">
                              <div class="row news-information-row">
                                  <img class="news-information-chanel {{news.class}}" />


                                  {{news.flow}}

                                  {{news.theDate | date:'EEEE'}}
                              </div>
                              <div class="row news-information-row">
                                  <div class="col">
                                      <p>{{news.label}}</p>
                                  </div>
                              </div>
                          </div>

                          <div class="col col-10 col-center">
                              <button class="button button-clear button-dark center-content" ng-click="play('{{news.url}}')">
                                  <i class="ion-radio-waves"></i>
                              </button>
                          </div>
                      </div>
                      <!--<div class="news-information-left">-->

                          <!--<div class="news-information-col">-->
                              <!--<span class="news-information-date">-->
                              <!--{{news.theDate | date:'EEEE'}}-->
                              <!--</span>-->

                              <!--<span class="news-information-flow">-->
                              <!--{{news.flow}}-->
                              <!--</span>-->

                              <!--<img class="news-information-chanel" src="img/icons/1.png"/>-->
                          <!--</div>-->

                          <!--<div class="news-information-col news-information-label">-->
                          <!--{{news.label}}-->
                          <!--</div>-->
                      <!--</div>-->

                      <!--{{news.source}}-->

                      <!--<div class="news-action-right">-->

                          <!--<button class="" ng-click="play('{{news.url}}')">-->
                                <!--<i class="ion-music-note"></i>-->
                          <!--</button>-->

                      <!--</div>-->

                  <!--</div>-->

              </ion-item>
          </ion-list>
      </ion-content>
    </ion-pane>

    <ion-footer-bar class="content" ng-show="playerStatus == 'pause' || playerStatus == 'play'">
        <div class="row playerProgressBar" ng-show="!player.canPlay">
            <div class="col">
                <!--Loading-->
            <ion-spinner icon="ios"></ion-spinner>
            </div>
        </div>
        <div class="row playerProgressBar" ng-show="player.canPlay">
            <!--CurrentTime -->
            <span class="">
                {{player.currentTime | trackTime}}
            </span>
            <input class='form-control col' type=range min=0 max=1 step=0.01 ng-model='player.progress'>
            <!--Duration-->
            <span class="">
                {{player.duration | trackTime}}
            </span>
        </div>
        <div class="row">
            <!--<button class="button col " ng-show="playerStatus == 'pause'" ng-click="unPause()">play</button>-->
            <!--<button class="button col " ng-show="playerStatus == 'play'" ng-click="pause()">pause</button>-->
            <!--<button class="button col " ng-click="stop()">stop</button>-->
            <button class="button col button-clear button-dark" ng-show="playerStatus == 'pause'" ng-click="unPause()"> <i class="icon ion-play"></i>Play</button>
            <button class="button col button-clear button-dark" ng-show="playerStatus == 'play'" ng-click="pause()"><i class="icon ion-pause"></i>Pause</button>
            <button class="button col button-clear button-dark" ng-click="stop()"><i class="icon ion-stop"></i>Stop</button>
        </div>

    </ion-footer-bar>
