    <ion-pane>
      <ion-header-bar class="bar-stable bar-header">
        <h1 class="title">
            <img class="title-image" src="img/bbc-blocks-light.png" ng-click="pln()">
            <span class="title-text">Radio News</span>
        </h1>
          <button ui-sref="config" class="button button-clear">
              <i class="ion-settings larger-icon"></i>
          </button>
      </ion-header-bar>



      <ion-content delegate-handle="pullToRefreshContent">


          <ion-refresher on-refresh="refresh()"></ion-refresher>

          <ion-list>
              <ion-item ng-repeat="news in newsContainer.news track by $index" ng-class="{onAir: isOnAir(news)}" class="item ng-binding {{news.class}} news-item" >

                      <div class="row">
                          <div class="col-center">
                              <img class="news-information-chanel {{news.class}}" />
                          </div>
                          <div class="col-expand">
                              <div class="row news-information-row">
                                  <span class="news-information-flow">
                                  {{news.flow}}
                                </span>
                                <span class="news-information-date-separator">
                                       -
                                </span>
                                <span class="news-information-date">
                                    {{news.theDate | date:'EEE'}}
                                </span>
                              </div>
                              <div class="row news-information-row">
                                  <div class="col">
                                      <p>{{news.label}}</p>
                                  </div>
                              </div>
                          </div>

                          <div class="col-center">
                              <button class="button button-clear button-dark center-content" ng-click="play(news)">
                                  <i class="ion-radio-waves-play"></i>
                              </button>
                          </div>
                      </div>

              </ion-item>
          </ion-list>
      </ion-content>
    </ion-pane>

    <ion-footer-bar class="bar-stable" ng-show="playerStatus == 'pause' || playerStatus == 'play'">
        <div class="row playerProgressBar" ng-show="!player.canPlay">
            <div class="col">
                <!--Loading-->
            <ion-spinner icon="ios"></ion-spinner>
            </div>
        </div>
        <div class="playerProgressBar range range-positive" ng-show="player.canPlay">
            <!--CurrentTime -->
            <span class="">
                {{player.currentTime | trackTime}}
            </span>
            <input class="form-control col range" type=range min=0 max=1 step=0.01 ng-model='player.progress'>
            <!--Duration-->
            <span class="">
                {{player.duration | trackTime}}
            </span>
        </div>
        <div class="row">
            <!--<button class="button col " ng-show="playerStatus == 'pause'" ng-click="unPause()">play</button>-->
            <!--<button class="button col " ng-show="playerStatus == 'play'" ng-click="pause()">pause</button>-->
            <!--<button class="button col " ng-click="stop()">stop</button>-->
            <button class="button col button-clear button-dark" ng-show="playerStatus == 'pause'" ng-click="unPause()"> <i class="icon ion-ios-play-outline"></i></button>
            <button class="button col button-clear button-dark" ng-show="playerStatus == 'play'" ng-click="pause()"><i class="icon ion-ios-pause-outline"></i></button>
            <button class="button col button-clear button-dark" ng-click="stop()"><i class="icon ion-stop"></i></button>
        </div>

    </ion-footer-bar>
