/* Empty. Add your own CSS if you like */


/*.bar-subheader {*/
    /*z-index: 1;*/
    /*-webkit-transition: top 0.25s ease;*/
    /*transition: top 0.25s ease;*/
/*}*/

/*.has-subheader .scroll {*/
    /*padding-top: 44px;*/
/*}*/

.bar-subheader {
    height: 100px;
}

body.bar-player-away .bar-subheader {
    /*top: 0;*/
    display: none;
}
body.bar-player-away .has-subheader {
    top: 44px;
}
.has-subheader {
    top: 144px;
}
